
/******* منع المحتوي الدموي **********/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&display=swap');
body {
    background-color: #343434;
    margin: 0;
    padding-bottom: 60px; /* Adjust the height of the navigation bar */
  }
  
  nav {
    position: fixed;
    bottom: 0;
    width: 90%;
    backdrop-filter: blur(10px);
    border-radius: 90px;
    margin-bottom: 8px;
    margin-right: px;
    margin-left: 20px;
    background-color: #f2f2f259;
    
  
  }
  
  nav a {
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    border-color: #343434;
  
  }
  
  nav a.active {
    backdrop-filter: blur(10px);
    border-radius: 90px;
    background: linear-gradient(#bb000060,#014ab87c);
    
   
  }
  i {
    font-size: 20px;
  
  }
  
  .content {
    padding: 20px;
    margin-bottom: 60px; /* Adjust the height of the navigation bar */
  }
  .eeee{
    margin-right: 30px;
  }
  .cony{
    filter: blur(10px);
    backdrop-filter: blur(10px);

border-radius: 90px;
  }
  img{
    border-radius: 16px;

  }
  p{
    font-family: 'Marhey', cursive;
    margin: 20px;
  }
  .ai{
    text-decoration: none;
  }
  .ai:hover{
    font-size: xx-large;
    text-decoration: none;
  }
    .ai:hover::after {
        content: "AI Dynamic هو فريق مبرمجين مصريين متخصص في الذكاء الاصطناعي وتطبيقاته.";
        display: inline-block;
        background-color: rgba(48, 35, 35, 0.459);
        padding: 5px;
        border-radius: 5px;
    }
